<!DOCTYPE html>
<html>

<head>
   <title> >L8-6329</title>
   <h1 align="center" > My first HTML-6329L8</h1>
    </table>
</head>

<body>
<p style="text-align: center;">
<img src="apple.jpg" width="150" alt="logo">
<img src="orange.jpg" width="150" alt="logo">
<img src="pineapple.jpg" width="150" alt="logo">


<table align="center" border="1" width="400"
<table>
<tr>
    <td>Class 2A-2B</td><td>How you come to shcool</td>
</tr>
</body>

<tr>
<td>Car</td><td>Blank</td>
</tr>

<tr>
<td>Walk</td><td>Blank</td>
</tr>

<tr>
<td>Bus</td><td>Blank</td>
</tr>

<tr>
<td>Next</td><td>Submit yor survey outputs!Thank you</td>
</tr>



</table>
</body>
</html>